body {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 3px solid black;
	width: 40%;
	height: auto;
	background-color: skyblue;
}

.fieldtext {
	padding: 9px;
}

.img-1 {
	margin-left: 19px;
	display: flex;
	/*float: left;*/
	width: 100%;
}

.img {
	display: flex;
	float: left;
	max-height: 300px;
}

.img-a {
	display: inline-block;
	float: right;
}

.style {
	border: 4px groove lightgrey;
	background-color: #ffffff;
	width: 50%;
	height: auto;
	margin-top: 63px;
	margin-bottom: 63px;
	padding: 9px;
}

.special {
	margin-right: 147px;
}

a {
	margin-right: 14px;
	margin-left: 9px;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	transition-delay: 0.3s;
	color: #cea135;
}

footer {
	width: 100%;
	height: auto;
	background-color: black;
	/*opacity: 0.6;*/
	bottom: -50;
	position: absolute;
	color: #ffffff;
}

.footer-content {
	padding-top: 33px;
	border: none;
	text-align: center;
	font-color: #ffffff;
	font-size: 0.9em;
}

@media (max-width:870px) {

	.img {
		visibility: hidden;
	}

	.img-text-1 {
		text-align: center;
		margin-top: 13px;
		margin-right: 190px;
		border: none;
		background-color: #ffffff;
		width: 100%;
		height: auto;
		float: inherit;
	}

	span {
		display: flex;
		float: left;
		width: 80%;
		height: 234px;
	}
}

@media (min-width: 870px) {

	.img {
		margin-left: 190px;
		margin-right: 90px;
		display: flex;
		float: left;
		width: 100%;
		height: 294px;
	}

	.img-text-1 {
		text-align: center;
		margin-top: 13px;
		margin-right: 133px;
		border: none;
		background-color: #ffffff;
		width: 30%;
		height: auto;
		float: inherit;
	}

	span {
		display: flex;
		float: left;
		width: 100%;
		height: 434px;
	}

	td {
		text-align: center;
	}
}
